extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings.row
            .col-md-9
              .row
                .col-md-4
                .col-md-8
                  .row
                    .col-md-4.col-md-offset-8.text-right
                      ul.list-inline
                        li
                          a#print
                            i.fa.fa-lg.fa-print
                        li
                          |
                        li
                          a#pdf
                            i.fa.fa-lg.fa-file-pdf-o
                        li
                          |
                        li
                          a#message
                            i.fa.fa-lg.fa-envelope
                  p
                    | #{data.mangementteams[0].mangementTeamtext}
                    br
                    | #{data.mangementteams[0].mangementTeamsubtext}
                  p
                    | #{data.mangementteams[0].mangementTeamshortstring}
                  p
                    | #{data.mangementteams[0].mangementTeamlongstring}
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            