extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings.row
            .col-md-9
              .row
                .col-md-4
                  if data.msps.length
                    .msp-images
                      if data.msps[0].mspImages.exists
                        .row
                          .col-xs-12
                            a(href=data.msps[0]._.mspImages.limit(900,600),rel='Msp').msp-image
                              img(src=data.msps[0]._.mspImages.limit(640,640))
                .col-md-8
                  .row
                    .col-md-4.col-md-offset-9.text-right
                      ul.list-inline
                        li
                          a#print
                            i.fa.fa-lg.fa-print
                        li
                          |
                        li
                          a#pdf
                            i.fa.fa-lg.fa-file-pdf-o
                        li
                          |
                        li
                          a#message
                            i.fa.fa-lg.fa-envelope
                  p
                    | #{data.msps[0].mspSolutionstext}
            include ../views/listingmenu
      .container-fluid
        .row
          footer
            include ../views/footer
   